<h2>Solicitudes de permisos</h2>
<div class='container'>
    <div class="row">
        <div class="col headers" *ngFor="let field of this.fields">
            <strong>{{field}}</strong>
        </div>
        <div class="col buttonHeader">
            <strong>ACCIONES</strong>
        </div>
        <div class="w-100"></div>
    </div>
    <div class="row" *ngFor="let request of this.allPermisosReqs">
        <div class="col values">
            <p>{{request.user.apellidos}}</p>
        </div>
        <div class="col values">
            <p>{{request.app.nombreapp}}</p>
        </div>
        <div class="col values">
            <p>{{request.rolNeg.descripcion_rol_neg}}</p>
        </div>
        <div class="col values">
            <p>{{request.fechaSolicitud | date : 'M/d/yy, h:mm a' : 'GMT-3'}}</p>
        </div>
        <div class="col values">
            <p>{{request.fechaAutorizacion | date : 'M/d/yy, h:mm a' : 'GMT-3'}}</p>
        </div>
        <div class="col values">
            <p>{{request.estado}}</p>
        </div>
        <div class="col button">
            <button class="btn btn-sm btn-primary" (click)="resolveRequest(request, states.Autorizado)" [disabled]="isApproved(request)">APROBAR</button>
            <button class="btn btn-sm btn-danger" (click)="resolveRequest(request, states.Denegado)" [disabled]="!isApproved(request)">DENEGAR</button>
        </div>
        <div class="w-100"></div>
    </div>
</div>