.headers{
    background-color: rgba(0, 139, 139, 0.50);
}
.values{
    background-color: aliceblue;
}
.row{
    text-align: center;
    padding: 0;
}
.col{
    align-items: center;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.col.button{
    background-color: rgb(167, 209, 95);
}
.col.buttonHeader{
    background-color: rgb(119, 149, 67);
}