<div class="d-flex justify-content-evenly align-items-center">

    <div class="row my-2 align-self-start">
        <button type="button" class="btn btn-lg btn-outline-dark btn-block" (click)="goToDummyApp()">Ir a la App
            Dummy</button>
            <button type="button" class="btn btn-lg btn-outline-dark btn-block" *ngIf="Admin"
                (click)="goToAdminPermisosView('2','3')">Administrar Permisos</button>
    </div>
    <div class="row my-2 align-self-start">
        <button type="button" class="btn btn-lg btn-outline-dark btn-block" (click)="goToRequestRole('3','3')">Solicitar
            Permiso</button>
        <button type="button" class="btn btn-lg btn-outline-dark btn-block" (click)="goToCambiarContrasena()">Cambiar
            contraseña</button>
    </div>

</div>