input{
    width: 80vw;
    max-width: 800px;;
}

select{
    width: 80vw;
    max-width: 800px;;
}
svg{
    width: 2em;
    height: 2em;
    fill: currentColor;
}
p{
    margin: 0;
    margin-top: 3em;
}